// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: sans-serif;
  margin: 10%;
}

a{
    text-decoration: none;
    padding-top: 10px
}

.question{
  border-left: solid;
  border-color: #afada9;
  padding: 5px;
  padding-left: 20px;
  border-left-width: thick;
}

.coach_answer{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fffee1;
  border-left: solid;
  border-color: #afada9;
  border-left-width: thick;
  padding: 5px;
  padding-left: 20px;
    h2{
      font-weight: 600;
      font-size: 20px;
    }


}
